<% include ./partials/header%>

<div class="ui main text container segment">
    <div class=" ui huge header">New Blog</div>
    
    <form class="ui form" action="/blogs" method="POST">
      
      <label>Title</label>  
        <div class="field">
        <input type="text" name ="blog[title]" placeholder="tutle"> 
        </div>
        
        <label>Image</label>
        <div class="field">
        <input type="text" name ="blog[img]" placeholder="Image">
        </div>
        
        <label>Text</label>
        <div class="field">
        <textarea name="blog[body]"></textarea>
        </div>
        
        <input class="ui violet basic button" type="submit">

    </form>
</div>

<% include ./partials/footer%>